@model Vidly.ViewModels.RandomMoviewViewModel
@{
    ViewBag.Title = "Random"; 
}

@{ 
    var className = Model.Customers.Count < 5 ? "alert alert-success " : "alert alert-warning";
}
 

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <p>No One has rented this movie before.</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

